.label {
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    padding: .2rem .8rem;

    &-fixed {
        width: 7.5rem;
        padding: .6rem 0;

        &-lg {
            width: 9.5rem;
            padding: .6rem 0;
        }
    }

    &-big {
        width: 16.8rem;
        font-size: 1.4rem;
        padding: 1.1rem 0;
    }

    &-xl {
        width: 10.5rem;
        padding: 1.1rem 0;
        font-size: 1.5rem;
    }

    &-lg {
        width: 9.5rem;
        padding: 1.1rem 0;
    }

    &-md {
        width: 8.5rem;
        padding: 1.1rem 0;
    }

    &-sm {
        width: 7.5rem;
        padding: 1.1rem 0;
    }
}

.label-default{
    background: #ADB6C7;
}

.label-primary{
    background: var(--bs-primary);
    color: var(--bs-white);
}

.label-secondary{
    background: $secondary;
    color: var(--bs-white);
}

.label-info{
    background: $info;
    color: var(--bs-white);
}

.label-success{
    background: var(--bs-success);
    color: var(--bs-white);
}

.label-warning{
    background: var(--bs-warning);
    color: var(--bs-white);
}

.label-danger{
    background: $danger;
    color: var(--bs-white);
}


.label-light{
    background: $light;
    color: $black;
}


.label-dark{
    background: $dark;
    color: var(--bs-white);
}



code{
    word-break: break-word;
    padding: 0.125rem 0.3125rem;
    border-radius: 0.1875rem;
	background: rgba($danger,0.2);
    color: $danger;
	
}

.heading-labels{
    color: #333333;

    & > *{
        margin-bottom: .8rem;
    }

    h1{
        .label{
            font-size: 1.125rem;
            font-weight: normal;
            padding: .4rem .9rem;
        }
    }

    h2{
        .label{
            font-size: 1rem;
            font-weight: normal;
            padding: 0.3rem .9rem;
        }
    }

    h3{
        .label{
            font-size: 0.875rem;
            font-weight: normal;
        }
    }

    h4{
        .label{
            font-size: 0.75rem;
            font-weight: normal;
        }
    }

    h5{
        .label{
            font-size: 0.75rem;
            font-weight: normal;
        }
    }

    h6{
        .label{
            font-size: 0.75rem;
            font-weight: normal;
        }
    }
}