// Heart Blast Effect
.heart{
	width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    background: url('../images/like.avif');
    cursor: pointer;
    margin: -1.563rem -0.938rem;
}
.heart-blast{
	background-position: -1680px 0 !important;
    transition: background 1s steps(28);
}

// draggable-handle
.draggable-handle{
	cursor: move;
}
.list-group .list-group-item.draggable{
	background-color: var(--bs-body-bg);
}
.breadcrumb-item a {
	color: var(--bs-gray);
	font-size: 14px;
}
.breadcrumb-item.active {
    color: var(--bs-primary);
    font-weight: 500;
	font-size: 14px;
}
.eye {
	position: absolute;
	right: 20px;
	bottom: .625rem;
}
.active-map{
	height: 19rem !important;
}
.widget-events{
	.datepicker {
		padding: 0;
	}
	.datepicker-days{
		.picker-switch{
			font-size: 15px;
			font-weight: 500;
			color: var(--bs-secondary);
		}
		.prev,
		.next{
			i{
				height:32px;
				width:32px;
				border-radius: var(--bs-border-radius);
				background: rgba(var(--bs-primary-rgb), 0.1);
				color: var(--bs-primary);
				line-height: 32px;
			}
			&:hover{
				background:transparent;
			}
		}
		.dow{
			font-weight: 500;
			color: var(--bs-heading-color);
			background-color: var(--bs-light);
			border-radius: 0;
			text-transform: uppercase;
			font-size: 13px;
			height: auto;
			line-height: normal;
			padding: 8px;
		}
		tr{
			.day.weekend:first-child{
				color: var(--bs-danger);
			}
		}
		.day{
			color: var(--bs-heading-color);
			height: 40px;
			line-height: 40px;
			box-sizing: initial;
			max-width: 25px;
			min-width: 25px;
			width: 25px;
			z-index: 1;
			position: relative;
			padding: 0;
			
			&:before,
			&:after{
				content: "";
				position: absolute;
				opacity: 0;
			}
			&:after{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 40px;
				height: 40px;
				border-radius: var(--bs-border-radius);
				background-color: var(--bs-primary);
				z-index: -1;
			}
			&:before{
				height: 12px;
				width: 12px;
				border: 2px solid #fff;
				top: calc(50% - 20px);
				right: calc(50% - 30px);
				background: var(--bs-danger);
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover{
				&:not(.active),
				&:not(.today){
					&:after{
						background-color: var(--bs-light);
						opacity: 1;
					}
				}
			}
			&.active,
			&.today{
				background: var(--bs-body-bg) !important;
				color: #fff !important;
				
				&:before,
				&:after{
					opacity: 1;
				}
				&:hover{
					&:after{
						background: var(--bs-primary) !important;
					}
				}
			}
		}
		tr td.day:hover,
		tr td.focused{
			background: var(--bs-body-bg);
		}
	}
	.bootstrap-datetimepicker-widget a[data-action]{
		display:none;
	}
	.meta-date{
		height: 55px;
		width: 50px;
		line-height: 1;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-primary-bg-subtle);
		text-align: center;
		padding: 7px 4px;
		
		.date{
			font-size: 20px;
			line-height: 1.2;
			font-weight: 600;
			color: var(--bs-primary);
		}
	}
}
.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y{
	z-index: -1;
}

.card-carousel-dots{
	.owl-dots{
		position: absolute;
		right: 0;
		top: 0;
	
		.owl-dot{
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: var(--bs-secondary);
			opacity: 0.2;
			@include transitionMedium;
			display: inline-block;
			margin: 0 4px;
			
			&.active{
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}
}

// Custom Offcanvas 
.custom-offcanvas{
	--bs-offcanvas-padding-x: 40px;
    --bs-offcanvas-padding-y: 30px;
	--bs-offcanvas-width: 800px;

	@include respond ('phone-land'){
		--bs-offcanvas-padding-x: 15px;
		--bs-offcanvas-padding-y: 15px;
	}
}

.kanban-bx{
	display: flex;
    width: 100%;
    overflow-x: auto;
	flex-wrap:nowrap;
	margin:0;
	
	.col{
		width: 324px;
		min-width: 324px;
		padding-left: 0;
	}
	@include respond ('phone-land'){
		display: block;
		width: auto;
		
		.col{
			width:100%;
			min-width:100%;
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}
[data-headerbg="color_4"]{
	.header-right .header-border .btn{
		background-color:var(--bs-primary)!important;
		border-color:var(--bs-primary)!important;
	}
	.header-right .notification_dropdown .nav-link:hover{
		background-color:#202020;
	}	
}
[data-nav-headerbg="color_1"]{
	.brand-logo{
		.logo-abbr{
			path{
				&.react-w{
					fill:black;
				}
				&.w3{
					fill:var(--bs-primary);
				}
			}
		}
		.brand-title{
			path{
				fill:$black;
			}
		}
	}
}
[data-nav-headerbg="color_4"]{
	.brand-logo{
		.logo-abbr{
			path{
				&.w3{
					fill:var(--bs-primary)!important;
				}
			}
		}
	}
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.menu-title{
	@include respond ('phone'){
		display:none;
	}
}
.chart-series{
	cursor: pointer;
	display: inline-block;
	
	label{
		cursor: pointer;
	}	
	input[type="checkbox"]:checked + label{
		opacity: 0.5;
	}
}
.btn-docs{
	padding: 10px 8px;
    font-size: 13px;
	
	i{
		transform: rotate(45deg);
		margin-left: 2px;
	}
}

.page-title{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
	margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
	flex-flow: wrap;
	background-color: var(--bs-body-bg);
	border-radius: var(--bs-border-radius);
	box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    
    @include custommq($max: 767px) {
		padding-right: 20px;
		padding-left: 20px;
	}
	@include custommq($max: 575px) {
		padding-right: 15px;
		padding-left: 15px;
		flex-direction: column;
        gap: 5px;
        align-items: flex-start;
	}
	.breadcrumb {
		margin-bottom: 0;
		align-items: center;
		
        li {
            margin-top: 0;
            margin-bottom: 0;

            a{
				display: flex;
				gap: 6px;
				color: var(--bs-body-color);
            }
            &.active{
                color:var(--bs-primary);
				font-weight: 500;
				
				a{
					color:var(--bs-primary) !important;
				}
            }
        }   
        .breadcrumb-item + .breadcrumb-item {
            &:before {
				color:var(--bs-primary);
            }
        }
    }
	h1{
		margin:0;
		font-size: 17px;
		margin-right: 2rem;
		
		@include respond ('phone'){
			font-size: 15px;
			margin-right: 1rem;
		}
	}
	ol{
		margin-bottom: 0;
	}
}
.card-title{
    font-size: 1rem;
}
.card-header {
    align-items: center;
}
.tag {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 80px;
    bottom: 0;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    width: 40px;
}
.tag svg {
    color: #fff;
    height: 22px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 11px;
    width: 22px;
}
.congratulations-img{
	position: absolute;
    right: 0px;
    top: -28px;
    width: 172px;
}
.sales-bx {
    padding: 10px 40px;
    text-align: center;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    min-width: 164px;
}
.harry-img {
    height: 200px;
    transform: scale(1.1);
    position: absolute;
    right: 32px;
    bottom: 0;
}
.analytics-card .ic-n-bx {
    text-align: center;
    margin-top: -38px;
    margin-bottom: 20px;
}
.ov-card:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
	transition: all .5s ease-in-out;
	color: #FFF;
}
.ov-card:hover h5{
	color: #FFF;
}
.ov-card:hover h3{
	color: #FFF;
}
.ov-card:hover .avatar {
    background-color: #fff !important;
}
.ov-card:hover .avatar i{
    color: var(--bs-primary) !important;
}
.active-projects tbody tr td {
    font-size: 13px;
    font-weight: 400;
    padding: 0.625rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.schedules-cal{
	background-color: var(--bs-dark);
}
.schedules-cal .datepicker-days tr .day.weekend:first-child {
    color: #888888;
}
.schedules-cal .datepicker-days .picker-switch {
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
}
.schedules-cal .datepicker-days .prev i, .schedules-cal .datepicker-days .next i {
    height: 32px;
    width: 32px;
    border-radius: 0.5rem;
    background: rgba(var(--bs-primary-rgb), 0.1);
    color: #fff;
    line-height: 32px;
}
.dots-crm .dots {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}// Heart Blast Effect
.heart{
	width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    background: url('../images/like.avif');
    cursor: pointer;
    margin: -1.563rem -0.938rem;
}
.heart-blast{
	background-position: -1680px 0 !important;
    transition: background 1s steps(28);
}

// draggable-handle
.draggable-handle{
	cursor: move;
}
.list-group .list-group-item.draggable{
	background-color: var(--bs-body-bg);
}

.active-map{
	height: 19rem !important;
}
.widget-events{
	.datepicker {
		padding: 0;
	}
	.datepicker-days{
		.picker-switch{
			font-size: 15px;
			font-weight: 500;
			color: var(--bs-secondary);
		}
		.prev,
		.next{
			i{
				height:32px;
				width:32px;
				border-radius: var(--bs-border-radius);
				background: rgba(var(--bs-primary-rgb), 0.1);
				color: var(--bs-primary);
				line-height: 32px;
			}
			&:hover{
				background:transparent;
			}
		}
		.dow{
			font-weight: 500;
			color: var(--bs-heading-color);
			background-color: var(--bs-light);
			border-radius: 0;
			text-transform: uppercase;
			font-size: 13px;
			height: auto;
			line-height: normal;
			padding: 8px;
		}
		tr{
			.day.weekend:first-child{
				color: var(--bs-danger);
			}
		}
		.day{
			color: var(--bs-heading-color);
			height: 40px;
			line-height: 40px;
			box-sizing: initial;
			max-width: 25px;
			min-width: 25px;
			width: 25px;
			z-index: 1;
			position: relative;
			padding: 0;
			
			&:before,
			&:after{
				content: "";
				position: absolute;
				opacity: 0;
			}
			&:after{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 40px;
				height: 40px;
				border-radius: var(--bs-border-radius);
				background-color: var(--bs-primary);
				z-index: -1;
			}
			&:before{
				height: 12px;
				width: 12px;
				border: 2px solid #fff;
				top: calc(50% - 20px);
				right: calc(50% - 30px);
				background: var(--bs-danger);
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover{
				&:not(.active),
				&:not(.today){
					&:after{
						background-color: var(--bs-light);
						opacity: 1;
					}
				}
			}
			&.active,
			&.today{
				background: var(--bs-body-bg) !important;
				color: #fff !important;
				
				&:before,
				&:after{
					opacity: 1;
				}
				&:hover{
					&:after{
						background: var(--bs-primary) !important;
					}
				}
			}
		}
		tr td.day:hover,
		tr td.focused{
			background: var(--bs-body-bg);
		}
	}
	.bootstrap-datetimepicker-widget a[data-action]{
		display:none;
	}
	.meta-date{
		height: 55px;
		width: 50px;
		line-height: 1;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-primary-bg-subtle);
		text-align: center;
		padding: 7px 4px;
		
		.date{
			font-size: 20px;
			line-height: 1.2;
			font-weight: 600;
			color: var(--bs-primary);
		}
	}
}
.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y{
	z-index: -1;
}

.card-carousel-dots{
	.owl-dots{
		position: absolute;
		right: 0;
		top: 0;
	
		.owl-dot{
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: var(--bs-dark);
			opacity: 0.2;
			@include transitionMedium;
			display: inline-block;
			margin: 0 4px;
			
			&.active{
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}
}

// Custom Offcanvas 
.custom-offcanvas{
	--bs-offcanvas-padding-x: 40px;
    --bs-offcanvas-padding-y: 30px;
	--bs-offcanvas-width: 800px;

	@include respond ('phone-land'){
		--bs-offcanvas-padding-x: 15px;
		--bs-offcanvas-padding-y: 15px;
	}
}

.kanban-bx{
	display: flex;
    width: 100%;
    overflow-x: auto;
	flex-wrap:nowrap;
	margin:0;
	
	.col{
		width: 324px;
		min-width: 324px;
		padding-left: 0;
	}
	@include respond ('phone-land'){
		display: block;
		width: auto;
		
		.col{
			width:100%;
			min-width:100%;
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}
[data-headerbg="color_4"]{
	.header-right .header-border .btn{
		background-color:var(--bs-primary)!important;
		border-color:var(--bs-primary)!important;
	}
	.header-right .notification_dropdown .nav-link:hover{
		background-color:#202020;
		svg{
			path{
				fill:var(--bs-white);
			}
		}
	}	
}
[data-nav-headerbg="color_1"]{
	.brand-logo{
		.logo-abbr{
			path{
				&.react-w{
					fill:black;
				}
				&.w3{
					fill:var(--bs-primary);
				}
			}
		}
		.brand-title{
			path{
				fill:$black;
			}
		}
	}
}
[data-nav-headerbg="color_4"]{
	.brand-logo{
		.logo-abbr{
			path{
				&.w3{
					fill:var(--bs-primary)!important;
				}
			}
		}
	}
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.menu-title{
	@include respond ('phone'){
		display:none;
	}
}
.chart-series{
	cursor: pointer;
	display: inline-block;
	
	label{
		cursor: pointer;
	}	
	input[type="checkbox"]:checked + label{
		opacity: 0.5;
	}
}
.btn-docs{
	padding: 10px 8px;
    font-size: 13px;
	
	i{
		transform: rotate(45deg);
		margin-left: 2px;
	}
}
.card-title{
    font-size: 1rem;
}
.card-header {
    align-items: center;
}
.tag {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 80px;
    bottom: 0;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    width: 40px;
}
.tag svg {
    color: #fff;
    height: 22px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 11px;
    width: 22px;
}
.active-projects tbody tr td {
    font-size: 13px;
    font-weight: 400;
    padding: 0.625rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.testimonial-one.owl-carousel .owl-item {
    text-align: center;
    padding: .625rem 0;
}
.testimonial-one.owl-carousel .owl-item.center i {
    opacity: 1;
	position: absolute;
}
.testimonial-one.owl-carousel .owl-item.center {
    background: rgba(var(--bs-primary-rgb), 0.1);
    border-radius: 0.5rem;
}
.testimonial-one.owl-carousel .owl-item img {
    border-radius: 0.5rem;
}
.form-group.style-1 .form-control {
    border-color: transparent;
    margin-right: -2.8125rem;
    z-index: 0;
    color: var(--bs-dark);
    background: var(--bs-secondary-bg);
    border-radius: 0.5rem;
}
.testimonial-one.owl-carousel .owl-item i {
    position: absolute;
    height: 1.875rem;
    opacity: 0;
    width: 1.875rem;
    border-radius: 0.5rem;
    bottom: 0;
    right: 0;
    background: var(--bs-primary);
    color: #fff;
    line-height: 1.875rem;
    text-align: center;
}
.bgl-primary {
    background: var(--rgba-primary-1);
    border-color: var(--rgba-primary-1);
}
.card-bx{
	margin-bottom: 6.25rem;
	a {
		height: 4.25rem;
		width: 4.25rem;
		left: 50%;
		transform: translatex(-50%);
		bottom: -5rem;
		position: absolute;
		line-height: 4.25rem;
		text-align: center;
		font-size: 1.5625rem;
		background: var(--bs-body-bg);
		box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);
		color: var(--bs-gray);
		border-radius: 80px;
	}
}
.donut-chart-sale small, .donut-chart-sale .small {
    font-size: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: center;
    font-weight: 600;
}
.stacked-2{
	position:relative;
	margin-bottom:5.625rem;
	height: auto;
	&:after,&:before{
		content:"";
		z-index:-1;
		border-radius: var(--bs-border-radius);
		height:50%;
		position:absolute;
		left:50%;
		transform:translatex(-50%);
	}
	&:after{
		width:94%;
		bottom:-1.875rem;
		background:#F1F1F1;
		@include respond ('phone'){
			bottom:-0.9375rem;
		}
	}
	&:before{
		width:87%;
		background:var(--bs-border-color);
		bottom:-3.75rem;
		@include respond ('phone'){
			bottom:-1.875rem;
		}
	}
	@include respond ('phone'){
		margin-bottom:3.75rem;
	}
}
.payment-bx .accordion__item .accordion__header {
    justify-content: space-between;
}
.payment-bx .accordion__item .accordion__header {
    padding: 1.25rem 1.875rem 1.25rem 1.875rem;
}
.payment-bx .accordion__header {
    border: 0;
    font-size: 1rem;
    background: var(--bs-primary);
}
.payment-bx .accordion__header.collapsed {
    background: var(--bs-card);
}
.payment-bx .profile-image span {
    position: absolute;
    bottom: 0;
    right: -0.3125rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.4375rem;
    width: 1.875rem;
    border-radius: 100%;
    border: 0.125rem solid #fff;
}
.payment-bx .accordion__header h6 a, .payment-bx .accordion__header span {
    color: #fff !important;
}
.payment-bx .accordion__header .btn-outline-success, .payment-bx .accordion__header .btn-outline-warning, .payment-bx .accordion__header .btn-outline-danger {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: transparent;
}
.payment-bx .accordion__header.collapsed h6 a, .payment-bx .accordion__header.collapsed span {
    color: var(--bs-dark) !important;
}
.payment-bx .accordion__header.collapsed .btn-outline-danger {
    border: 0.0625rem solid #FF2E2E;
    color: #FF2E2E;
    background-color: transparent;
}
.payment-bx .accordion__header.collapsed .btn-outline-success {
    border: 0.0625rem solid #2BC155;
    color: #2BC155;
    background-color: transparent;
}
.payment-bx .accordion__header.collapsed .btn-outline-warning {
    border: 0.0625rem solid #FE8024;
    color: #FE8024;
    background-color: transparent;
}
.payment-bx .accordion__item .accordion__body, .payment-bx .accordion__item .accordion__header {
    justify-content: space-between;
    padding: 1.25rem 1.875rem;
}
.payment-bx .accordion__item .accordion__body {
    box-shadow: 0rem 0.625rem 0.9375rem rgba(var(--bs-primary-rgb), 0.1);
    background: var(--bs-card);
    position: relative;
    z-index: 3;
    border-radius: 0 0 0.5rem 0.5rem;
}
.about-accordian{
	background-color: var(--bs-secondary-bg);
}
.card-info {
    padding: 1.25rem 1.875rem;
}
.default-select.style-1 .btn {
    background-color: var(--bs-secondary-bg) !important;
    border-radius: 3.125rem;
    font-size: 16px;
}
.min-w24 {
    min-width: 1.5rem;
}
.star-rating li i {
    color: gold;
}
.new-badge {
    background: linear-gradient(-90deg, #FF0000, #EB00FF, #00A3FF, #00FF38);
    background-size: 500%;
    animation: anime 16s linear infinite;
}
@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.stacked{
	position:relative;
	z-index:1;
	&:after,&:before{
		content:"";
		z-index:-1;
		background: var(--bs-body-bg);
		border-radius: var(--bs-border-radius);
		box-shadow:0rem .25rem .5rem rgba(0,0,0,0.1);
		height:50%;
		position:absolute;
		left:50%;
		transform:translatex(-50%);
	}
	&:after{
		width:80%;
		bottom:-1.875rem;
		@include respond ('phone'){
			bottom:-0.9375rem;
		}
	}
	&:before{
		width:70%;
		bottom:-3.75rem;
		@include respond ('phone'){
			bottom:-1.875rem;
		}
	}
}
.previous-transactions{
	td{
		text-wrap: nowrap;
	}
}