

.modal-header{
	padding: 1rem 1.875rem;

	.close{
		padding: 6px 24px;
		margin: 0;
		position: absolute;
		right: 0;
		background: none;
		float: none;
		border: 0;
		top: 0;
		font-size: 1.875rem;
		font-weight: 100;
	}
}
.modal-body{
	padding: 1.875rem;
}
.modal-footer{
	padding: 1rem 1.875rem;
}
.modal-content{
	border-radius:var(--bs-border-radius);
	background-color: var(--bs-body-bg);
}
.modal-backdrop{
    z-index: 10!important;
}