.localizationTool{
	color: unset;
    background: transparent;
    padding: 18px;
	
	.ltool-dropdown-label .ltool-language-countryname,
	.ltool-dropdown-label-arrow{
		display: none !important;
	}
	.ltool-dropdown-label {
		padding: 18px;
		transform: scale(1.5);
		display: flex;
	}
	ul.ltool-dropdown-items{
		display: block;
		position: absolute;
		width: 150px;
		background-color: #fff;
		border-radius: 6px;
		right: 0;
		top: 50px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
		padding: 5px 0;
		opacity: 0;
		visibility: hidden;
		@include transitionFast;
		margin-top: 10px;
	}
	&.ltool-is-visible{
		ul.ltool-dropdown-items{
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
	li{
		background: transparent;
		display: flex;
		align-items: center;
		font-size: 13px;
		@include transitionMedium;
	    color: var(--bs-body-color);
		padding: 5px 10px;

		.ltool-language-flag{
			margin: 0;
		}
		&:hover{
			background: rgba(var(--bs-primary-rgb), 0.1);
		}
	}
	li.ltool-is-selected {
		background: rgba(var(--bs-primary-rgb), 0.1);
	}
}