.nav-pills {
    .nav-link {
		border-radius: var(--bs-border-radius);
	    padding: 0.75rem 1.25rem;
	}
}

.default-tab{
    .nav-link{
        background: transparent;
        border-radius: 0rem;
        font-weight: 500;
		i{
			display:inline-block;
			transform:scale(1.5);
			color:var(--bs-primary);
			
		}
		
		&:focus,
		&:hover,
		&.active{
			color: #495057;
			background-color: var(--bs-body-bg);
			border-color: var(--bs-border) var(--bs-border) var(--bs-body-bg) var(--bs-border);
			border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
			color:var(--bs-primary);
			
		}
    }
}

.custom-tab-1{
    .nav-link{
        background: transparent;
        border-radius: 0rem;
        font-weight: 500;
		border-bottom:0.1875rem solid transparent;
		border-width: 0 0rem 0.1875rem 0;
		
		i{
			display:inline-block;
			transform:scale(1.5);
			color:var(--bs-primary);
		}
		&:focus,
		&:hover,
		&.active{
			color: #495057;
			background-color: var(--bs-body-bg);
			border-color:var(--bs-primary) ;
			border-radius:0;
			color: var(--bs-primary);
			border-width: 0 0rem 0.1875rem 0;
			
		}
    }
	
}
.nav-pills{
	
	&.light{
	
		.nav-link.active, 
		.show > .nav-link{
			background:var(--rgba-primary-1);
			color:var(--bs-primary);
			box-shadow:none;
			
		}	
	
	}
	.nav-link.active, 
	.show > .nav-link{
		background-color:var(--bs-primary);
		box-shadow:0 0 1.25rem 0 rgba(var(--bs-primary-rgb), 0.2));
	}
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    font-weight: unset;
}
.nav-underline-primary .nav-link.active,
.nav-underline-primary .nav-link:hover{
	color: var(--bs-primary) !important;
	border-bottom-color: var(--bs-primary);
}
.nav-underline-gap-x-0{
	gap: 0 var(--bs-nav-underline-gap); 
}
.nav#tabMyProfileBottom {
	margin-bottom: -2px;
}