<!-- Start - All Global Plugins -->
    <link href="@@webRoot/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet"> 
    <link href="@@webRoot/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist.min.css">
	<!-- End - All Global Plugins -->
	
	<!-- Start - Switcher CSS -->
	<link href="assets/css/switcher.css" rel="stylesheet">
	<!-- End - Switcher CSS -->
	
	<!-- Start - Style CSS -->
	<link class="main-plugins" href="assets/css/plugins.css" rel="stylesheet">
	<link class="main-css" href="assets/css/style.css" rel="stylesheet">
	<!-- End - Style CSS -->