.header-left {
    height: 100%;
    display: flex;
    align-items: center;
	.breadcrumb{
		margin-bottom:0;
	}
	
	.dashboard_bar {
		font-size: var(--dz-head-title-size);
		font-weight: 600;
		color:var(--bs-dark);
		@include respond('phone-land') {
			display:none;
		}
		&.sub-bar{
			font-size:1.875rem;
		}
	}
	
	
}
.search-area{
	width:18.875rem;
	border-radius: 2.375rem;
	@include respond('tab-land') {
		display:none;
	}
	.form-control{
		border:0;
		background:var(--bs-secondary-bg);
		height:3rem;
		border-top-right-radius: var(--bs-border-radius) !important;
		border-bottom-right-radius: var(--bs-border-radius) !important;
		&:hover,&:focus{
			background:var(--bs-secondary-bg);
		}
		
	}
	.input-group-text{
		border-top-left-radius: var(--bs-border-radius) !important;
		border-bottom-left-radius: var(--bs-border-radius) !important;
		border-radius: 0;
		padding: 0.6rem 0.75rem;
		background:var(--bs-secondary-bg);
		border-width:0;
		height:3rem;
		padding-right:0;
		min-width: 3.125rem;
		justify-content: center;
		font-size: 1rem;
		@include custommq($max:100rem){
			padding: 0.7rem 0.75rem; ;
			padding-right:0;

		}
		.btn{
			padding: 0;
			border: 0;
			i{
				font-size:1.3rem;	
			}	
			&:active{
				color: var(--bs-dark);
			}
		}
	}
}