//style for all basic tables
.table {
    --bs-table-bg : var(--bs-body-bg);
	 > :not(:first-child) {
        border-top: 0; 
        border-top: 0; 
    }
	@include respond('tab-land') {
		font-size: 0.875rem !important;
	}
	strong{
		color:var(--text-dark);
	}
    td {
        border-color: var(--bs-border);
		padding: 12px 9px;
		font-size:14px;
		white-space:nowrap;
		
		
    }
	&.shadow-hover tr:hover{
	    background-color:var(--bs-white);
		box-shadow: 0 0px 30px rgba($primary, 0.15);
		
	}
	&.bg-secondary-hover{
		th,td{
			border:none;
			font-weight:500;
		}
		tr:hover{
			background:$secondary;
			td,th{
				color:var(--bs-white)!important;
			}
		}	
	}	
	&.bg-info-hover{
		th,td{
			border:none;
			font-weight:500;
		}
		tr:hover{
			background:$info;
			td,th{
				color:var(--bs-white)!important;
			}
		}	
	}	
	&.bg-warning-hover{
		th,td{
			border:none;
			font-weight:500;
		}
		tr:hover{
			background:var(--bs-warning);
			td,th{
				color:var(--bs-white)!important;
			}
		}	
	}	

    thead th {
        border-bottom-width: 1px;
        font-size: 1rem;
        font-weight: 500;
		color:var(--text-dark);
        letter-spacing: 0.5px;
        border-color: var(--bs-border);
       
    }
    tbody  tr td {
        
        vertical-align: middle;
        border-color: var(--bs-border);
    }
	
	//delete header borders without '.borders tables'
    &:not(.table-bordered) {
        thead th {
            border-top: none;
        }
    }

    //heading background
    .thead-primary th {
        background-color: $primary;
        color: var(--bs-white);
    }
	.thead-info th {
        background-color: $info;
        color: var(--bs-white);
    }
	.thead-warning th {
        background-color: var(--bs-warning);
        color: var(--bs-white);
    }
	.thead-danger th {
        background-color: $danger;
        color: var(--bs-white);
    }
	.thead-success th {
        background-color: var(--bs-success);
        color: var(--bs-white);
    }

    //table border
    &.primary-table-bordered {
        border: 1px solid var(--bs-border);
		
    }

    //table hover
    &.primary-table-bg-hover {
		tbody{
			border-color:var(--primary-dark);
		}
        thead th {
            background-color:var(--primary-dark);
            color: var(--bs-white);
            border-bottom: none;
			border-color:var(--primary-dark);
        }

        tbody tr {
            background-color: var(--bs-primary);
            color: var(--bs-white);
			
            transition: all .1s ease;
			th,td{
				border-color:var(--primary-dark)!important;
				background-color: transparent;
				color:var(--bs-white);
			}

            &:hover {
                background-color: var(--rgba-primary-8);
            }

            &:not(:last-child) {
                td, th {
                    border-bottom: 0.0625rem solid var(--primary-dark);
					border-color: var(--bs-white);
					
					
                }
            }
			
        }
    }

    //responsive table width
    &-responsive {
        &-tiny {
            // @include media-breakpoint-down(xs) {
                min-width: 18.75rem;
            // }
        }

        &-sm {
            // @include media-breakpoint-down(sm) {
                min-width: 30rem !important;
            // }
        }

        &-md {
            // @include media-breakpoint-down(sm) {
                min-width: 36rem !important;
            // }
        }

        &-lg {
            min-width: 60.9375rem !important;
        }

        &-xl {
            min-width: 70.9375rem !important;
        }
    }
}
.table-primary, 
.table-primary > th, 
.table-primary > td {
	background-color: var(--rgba-primary-1);
	color: $primary;
	
}
.table-success, 
.table-success > th, 
.table-success > td {
	background-color: rgba(var(--bs-success),0.2);
	color: var(--bs-success);
	
}
.table-info, 
.table-info > th, 
.table-info > td {
	background-color: rgba($info,0.2);
	color: $info;
	
}
.table-warning, 
.table-warning > th, 
.table-warning > td {
	background-color: rgba(var(--bs-warning),0.2);
	color: var(--bs-warning);
	
}
.table-danger, 
.table-danger > th, 
.table-danger > td {
	background-color: rgba($danger,0.2);
	color: $danger;
	
}
.table-active, 
.table-active > th, 
.table-active > td {
    background-color: rgba($light,0.2);
	
}
.table tbody tr td:last-child{
    text-align: right;
}
.table thead tr th:last-child {
    text-align: right !important;
}


















