/* Header Search bar */
.header{
	.header-search{
		width: 20rem;
		border-radius: 0;
		
		@include respond('tab-land'){
			display: none;
		}
		.form-control{
			border-color: #fff;
			
			body:not([data-headerbg="color_1"]) &{
				color: #fff;
				
				&::placeholder{
					color: #fff;
				}
			}
		}
		.input-group-text{
			background-color: transparent;
			border:0;
			padding-right: 1rem;

			i{
				font-size:1.5rem;	
			}
			body:not([data-headerbg="color_1"]) &{
				i{
					color: #fff;
				}
				svg{
					path,
					circle{
						stroke: #fff;
					}
				}
			}
		}
	}
}