/////////////////////////////
// Bootstrap validation
/////////////////////////////
.form-control.is-valid {
    border-color: var(--bs-success) !important;
    border-right: 0rem !important;
    &:focus {
        box-shadow: none;
    }
}

.form-control.is-warning {
    border-color: var(--bs-warning) !important;
    border-right: 0rem !important;
    &:focus {
        box-shadow: none;
    }
}

.form-control.is-invalid {
    border-color: $danger !important;
    border-right: 0rem !important;
    &:focus {
        box-shadow: none;
    }
}

////////////////////////
// Jquery Validation 
////////////////////////
.is-valid {
    .input-group-prepend {
        .input-group-text {
            i {
                color: var(--bs-success);
            }
        }
    }
}

.is-invalid {
    .input-group-prepend {
        .input-group-text {
            i {
                color: rgba(var(--bs-primary-rgb), 0.2));
            }
        }
    }
}

// Show Pass
.show-pass,
.show-pass-1{
	cursor:pointer;
	
	.fa-eye{
		display:none;
	}
	
	&.active{
		.fa-eye-slash{
			display:none;
		}
		.fa-eye{
			display:inline-block;
		}
	}
}